<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="SessionFactory">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.max_size">15</property>
        <property name="hibernate.c3p0.max_statements">10</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.cglib.use_reflection_optimizer">true</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- property name="current_session_context_class">thread</property-->
        <!-- property name="hibernate_current_session_context_class">thread</property-->
       <!-- <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>-->
        <mapping resource="com/cfecweb/leon/shared/RnwVes.hbm.xml" />
        <mapping resource="com/cfecweb/leon/shared/ArenewVessels.hbm.xml" />
        <mapping resource="com/cfecweb/leon/shared/RnwEntity.hbm.xml" />
        <mapping resource="com/cfecweb/leon/shared/RenewFishery.hbm.xml" />
        <mapping resource="com/cfecweb/leon/shared/PeopleView.hbm.xml" />
        <mapping resource="com/cfecweb/leon/shared/ArenewChanges.hbm.xml" />
        <mapping resource="com/cfecweb/leon/shared/ArenewOtherpermits.hbm.xml" />
        <mapping resource="com/cfecweb/leon/shared/RnwPmt.hbm.xml" />
        <mapping resource="com/cfecweb/leon/shared/ArenewPermits.hbm.xml" />
        <mapping resource="com/cfecweb/leon/shared/ArenewPayment.hbm.xml" />
        <mapping resource="com/cfecweb/leon/shared/ArenewEntity.hbm.xml" />
    </session-factory>
</hibernate-configuration>
