<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>getDataImpl</servlet-name>
    <servlet-class>com.cfecweb.leon.server.getDataImpl</servlet-class>  
  </servlet>
  <servlet>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getDataImpl</servlet-name>
    <url-pattern>/onlinerenewal/getData</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <url-pattern>/onlinerenewal/gwt-log</url-pattern>
  </servlet-mapping>

  <!-- CyberSource / payment callback servlet -->
  <servlet>
    <servlet-name>PaymentCallbackServlet</servlet-name>
    <servlet-class>com.cfecweb.leon.server.PaymentCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentCallbackServlet</servlet-name>
    <url-pattern>/payment/callback</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>OnlineRenewal.html</welcome-file>
  </welcome-file-list>

</web-app>
